{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% if logged_in %}
        Welcome, {{ username }}! <a href='/logout'>Logout</a>
    {% else %}
        Welcome to our website! Please <a href='/login'>login</a> to access your account.
    {% endif %}
{% endblock %}
